/*//06 30 2020 efm*/
<style type="text/css">
        
            .bgc {
            background-image: url('../images/bg6.jpg');
            background-repeat: space;
            background-size: cover; 
        }
     </style>